*{
  box-sizing: border-box;
  margin: 0%;
}

body {
  min-height: 100vh;
}

main {
  padding: 20px;
  min-height: calc(100vh - 125px);
  margin-top: 50px;
}

img{
  margin-right: 10px;
}

footer{
  padding-top: 25px;
  text-align: center;
  min-height: 100vh;
}


/* Login Page */

.login-text{
  font-size: calc(1.111rem + .9vw);
}

.member:hover{
  filter: brightness(110%);
  background-color: #574378;
}

.forgotpassword{
  text-decoration: none;
}

.row{
  text-align: center;
  padding: 10px 0px;
}
